
.env
.env.*.local
.env.local
.env.backup
!.env.example

node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

public/build/
public/hot
storage/framework/views/*.php
storage/framework/cache/data/*
storage/logs/*.log

bootstrap/cache/*.php
storage/app/public/*
!storage/app/public/.gitignore

tests/Browser/screenshots/
tests/Browser/console/
tests/Browser/source/
tests/Browser/consoleErrors/
tests/Browser/traces/
tests/Browser/network/
tests/Browser/videos/
tests/Browser/Screenshots/
tests/_output/
coverage/

playwright-report/
test-results/

vendor/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.planning/
